In [1]:
from dcicutils import ff_utils
from functions.notebook_functions import *

# get key from file
my_key = get_key('koray_data')
# all usable env names
all_envs = ['data', 'staging', 'fourfront-webdev', 'fourfront-mastertest', 'fourfront-hotseat']
# get admin key from s3
#my_key = ff_utils.get_authentication_with_server({}, ff_env = 'data')

In [7]:
f2 = '/Users/koray/Desktop/misteli/submitted_target.txt'

probes = open(f2).read().split('\n')
probes = [i.split('\t') for i in probes]
print(len(probes))


file = '/Users/koray/Desktop/misteli/BC_160210_SpotLocs.txt'
import pandas as pd
df = pd.read_csv(file, sep = '\t')
df.shape

71

(76892, 18)

In [8]:
print(probes[0])
df.columns.values

['misteli:target_226_5', '4', '55771263', '55948311', '226.5']

array(['Localization_ID', 'C', 'X', 'Y', 'Z', 'Experiment_ID', 'Row_ID',
       'Col_ID', 'Probe_Green', 'Probe_Red', 'Probe_FarRed', 'chr',
       'Field_ID', 'Cell_ID', 'Spot_ID_inCell',
       'Green_NumberofSpots_inCell', 'Red_NumberofSpots_inCell',
       'FarRed_NumberofSpots_inCell'], dtype=object)

In [9]:

def find_loc(chr, no, probes):
    chr = str(chr)
    no = str(no)
    if '.0' in no:
        no = no.split(".0")[0]
        
    found = False
    
    for ix in probes:
        if ix[1] == chr:
            if ix[4] == no:
                if ix[2] == 'missing':
                    print('need to fix')
                return [ix[0], ix[1], ix[2], ix[3]]

    print('not found', chr, no)
    return False
        
                
for i, row in df.iterrows():
    p_chr = row['chr']
    probe_green = row['Probe_Green'] 
    probe_red = row['Probe_Red']
    probe_farred = row['Probe_FarRed']
    
    g_l = find_loc(p_chr, probe_green, probes)
    r_l = find_loc(p_chr, probe_red, probes)
    f_l = find_loc(p_chr, probe_farred, probes)
    
    if g_l:   
        df.at[i,'Green Chr'] = g_l[1]
        df.at[i,'Green Start'] = g_l[2]
        df.at[i,'Green End'] = g_l[3]
    else:
        df.at[i,'Green Chr'] = None
        df.at[i,'Green Start'] = None
        df.at[i,'Green End'] = None
        
    if r_l:
        df.at[i,'Red Chr'] = r_l[1]
        df.at[i,'Red Start'] = r_l[2]
        df.at[i,'Red End'] = r_l[3]
    else:
        df.at[i,'Red Chr'] = None
        df.at[i,'Red Start'] = None
        df.at[i,'Red End'] = None
    
    if f_l:
        df.at[i,'FarRed Chr'] = f_l[1]
        df.at[i,'FarRed Start'] = f_l[2]
        df.at[i,'FarRed End'] = f_l[3]
    else:
        df.at[i,'FarRed Chr'] = None
        df.at[i,'FarRed Start'] = None
        df.at[i,'FarRed End'] = None


df.shape

(76892, 27)

In [10]:
df.columns.values

array(['Localization_ID', 'C', 'X', 'Y', 'Z', 'Experiment_ID', 'Row_ID',
       'Col_ID', 'Probe_Green', 'Probe_Red', 'Probe_FarRed', 'chr',
       'Field_ID', 'Cell_ID', 'Spot_ID_inCell',
       'Green_NumberofSpots_inCell', 'Red_NumberofSpots_inCell',
       'FarRed_NumberofSpots_inCell', 'Green Chr', 'Green Start',
       'Green End', 'Red Chr', 'Red Start', 'Red End', 'FarRed Chr',
       'FarRed Start', 'FarRed End'], dtype=object)

In [11]:
df_drop = df.dropna(subset=['Green Chr', 'Green Start',
       'Green End', 'Red Chr', 'Red Start', 'Red End', 'FarRed Chr',
       'FarRed Start', 'FarRed End'])
df_drop.shape

(76892, 27)

In [13]:
df_drop.head()

,Localization_ID,C,X,Y,Z,Experiment_ID,Row_ID,Col_ID,Probe_Green,Probe_Red,...,FarRed_NumberofSpots_inCell,Green Chr,Green Start,Green End,Red Chr,Red Start,Red End,FarRed Chr,FarRed Start,FarRed End
0,1,Green,81.6937,9.0412,0,BC_160210,2,3,52,11,...,2,1,12708719,12865743,1,2370445,2570720,1,22223362,22394657
1,2,Green,78.4647,15.4992,1,BC_160210,2,3,52,11,...,2,1,12708719,12865743,1,2370445,2570720,1,22223362,22394657
2,3,Green,128.8371,14.8534,1,BC_160210,2,3,52,11,...,2,1,12708719,12865743,1,2370445,2570720,1,22223362,22394657
3,4,Green,128.1913,23.2488,0,BC_160210,2,3,52,11,...,2,1,12708719,12865743,1,2370445,2570720,1,22223362,22394657
4,5,Green,198.9064,24.2175,1,BC_160210,2,3,52,11,...,2,1,12708719,12865743,1,2370445,2570720,1,22223362,22394657

In [12]:
df_drop.columns.values

array(['Localization_ID', 'C', 'X', 'Y', 'Z', 'Experiment_ID', 'Row_ID',
       'Col_ID', 'Probe_Green', 'Probe_Red', 'Probe_FarRed', 'chr',
       'Field_ID', 'Cell_ID', 'Spot_ID_inCell',
       'Green_NumberofSpots_inCell', 'Red_NumberofSpots_inCell',
       'FarRed_NumberofSpots_inCell', 'Green Chr', 'Green Start',
       'Green End', 'Red Chr', 'Red Start', 'Red End', 'FarRed Chr',
       'FarRed Start', 'FarRed End'], dtype=object)

In [14]:
df_final = df_drop[['Localization_ID', 'C', 'X', 'Y', 'Z', 'Field_ID', 'Cell_ID', 'Spot_ID_inCell',
       'Green_NumberofSpots_inCell', 'Red_NumberofSpots_inCell', 'FarRed_NumberofSpots_inCell', 
       'Green Chr', 'Green Start', 'Green End', 'Red Chr', 'Red Start', 'Red End', 'FarRed Chr', 'FarRed Start', 'FarRed End', 
                    'Experiment_ID', 'Row_ID', 'Col_ID', 'Probe_Green', 'Probe_Red', 'Probe_FarRed', 'chr']]
df_final.shape

(76892, 27)

In [15]:
df_final.head()

,Localization_ID,C,X,Y,Z,Field_ID,Cell_ID,Spot_ID_inCell,Green_NumberofSpots_inCell,Red_NumberofSpots_inCell,...,FarRed Chr,FarRed Start,FarRed End,Experiment_ID,Row_ID,Col_ID,Probe_Green,Probe_Red,Probe_FarRed,chr
0,1,Green,81.6937,9.0412,0,1,1,1,2,2,...,1,22223362,22394657,BC_160210,2,3,52,11,91,1
1,2,Green,78.4647,15.4992,1,1,1,2,2,2,...,1,22223362,22394657,BC_160210,2,3,52,11,91,1
2,3,Green,128.8371,14.8534,1,1,3,1,2,2,...,1,22223362,22394657,BC_160210,2,3,52,11,91,1
3,4,Green,128.1913,23.2488,0,1,3,2,2,2,...,1,22223362,22394657,BC_160210,2,3,52,11,91,1
4,5,Green,198.9064,24.2175,1,1,4,1,2,2,...,1,22223362,22394657,BC_160210,2,3,52,11,91,1

In [16]:
df_final.to_csv('/Users/koray/Desktop/misteli/BC_160210_SpotLocs_filtered.txt')